<h1>Dashboard</h1>
<div id="dashboard">
  <%= render partial: "order", collection: @orders %>

<%
=begin
%>
<% end.empty? %>
        <strong>No live orders right now!!</strong>
<% end %>
<%
=end
%>
</div>