<h1>
  Categories
  <%= link_to new_admin_category_path, class: "ui green small labeled icon add button right floating" do %>
      <i class="add icon"></i> New Category
  <% end %>
</h1>

<table class="ui table">
  <thead>
  <tr>
    <th>Name</th>
    <th width="200"></th>
  </tr>
  </thead>

  <tbody>
  <% if @categories.each do |category| %>
      <tr>
        <td><strong><%= category.name %></strong></td>
        <td>
          <div class="ui buttons mini">
            <%= link_to edit_admin_category_path(category), class: "ui button" do %>
                <i class="edit icon"></i> Edit
            <% end %>
            <%= link_to admin_category_path(category), method: :delete, data: {confirm: 'Are you sure?'}, class: "ui button" do %>
                <i class="trash icon"></i> Delete
            <% end %>
          </div>
        </td>
      </tr>
  <% end.empty? %>
      <tr>
        <td colspan="2">
          <strong>Nothing to show right now!!</strong>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>




